body {
    margin: 0%;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-self: normal;
}

.row{
    display: flex;
    flex:1;
}

.col{
    flex:1;
    border: black solid 1px;
    min-height: 10px;
}

.grid-btn,#rainbow,#eraser,#default{
    text-align: center;
    height: 50px;
    width: max-content;
    background-color: cyan;
    color: red;
    border-radius: 10px;
}

#rainbow{
    background: lightgreen;
}

#eraser{
    background: white;
}

#default{
    background: blue;
}
